<h1>Users#index</h1>
<p>Find me in app/views/user/index.html.erb</p>
<% @users = User.all %>
<% @users.each do |user| %>
  <% unless user == current_user %>
    <%= user.email%>
    <%= link_to 'Dodaj do znajomych'%><br/>

  <%end%>
<% end %>
