
<% if @user.requested_friends? %>
  <b> Wysłane zaproszenia: </b>
  <% @pending.each do |user| %>
<table id='reject'>
  <tr>
    <td> <%= user.email%> </td>
    <td> <%= link_to 'Anuluj', {controller: 'friendships', action: 'reject', method: :delete, id: user.id, remote: true}, class: "reject" %> </td>
  </tr>
</table>
  <% end %>
<% end %>
<br>
<%= link_to 'Back', users_path %>
